<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
</head>
  <body>
    <form th:method="POST" th:action="@{/users}" th:object="${user}">
      <label for="name">Enter name:</label>
      <input type="text" th:field="*{name}" id="name" />

      <label for="ageOfBirth">Enter age of birth:</label>
      <input type="number" th:field="*{yearOfBirth}" id="ageOfBirth" />

      <label for="email">Enter email:</label>
      <input type="text" th:field="*{email}" id="email" />
      <br>
      <input type="submit" value="Create new User">
    </form>
    <br>
    <a href="/users">Back to main screen</a>
  </body>
</html>